<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="./login-style.html">

<dom-module id="app-login">
  <template>
    <style include="login-style"></style>

    <div class="card">
      <div class="circle">1</div>
      <h1>View login</h1>
      <p>Ut labores minimum atomorum pro. Laudem tibique ut has.
      <p>Lorem ipsum dolor sit amet, per in nusquam nominavi periculis, sit elit oportere ea.Lorem ipsum dolor sit amet, per in nusquam nominavi periculis, sit elit oportere ea.Cu mei vide viris gloriatur, at populo eripuit sit.</p>
    </div>

  </template>

  <script src="./app-login.js"></script>
</dom-module>
